body .content .info {
    display: inline-block;
    background-color: red;
    padding: 100px;
    margin: 100px;
}

img {
    width: 100px;
    height: 100px;
    opacity: 100%;
    transition: 0.8s;
}

img:hover {
    opacity: 50%;
    transform: rotate(1000deg);
}